@{
    ViewData["Title"] = "Meu Desafio";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="m-5">
        <h4 class="mb-2">Tecnologia Utilizada:</h4>
        <p>.Net e Angular </p>

        <h4 class="mb-2">Arquitetura Utilizada:</h4>
        <p>MVC</p>

        <h4 class="mb-2">Minha Atuação:</h4>
        <p> Identificação e resolução de um bug.</p>

        <h4 class="mb-2">Por que Isso me Marcou:</h4>
        <p>
             O desafio que mais me marcou foi um problema ocorrido em um componente mat-select do Angular Material. O dropdown apresentava um bug em que, ao começar a digitar as opções, elas cobriam o texto que estava sendo escrito no campo de input, dificultando a experiência do usuário. Além disso, esse bug também causava a exclusão automática da letra que estava sendo digitada ao iniciar a digitação de uma palavra.
           O que realmente marcou essa experiência foi o fato de que meu chefe e líder de equipe na época escolheram atribuir-me a tarefa. Isso aconteceu quando eu estava nos primeiros meses de minha carreira como desenvolvedor, com apenas dois meses de trabalho. O que tornou essa conquista memorável foi a rapidez com que consegui resolver um bug de complexidade considerável, especialmente em um projeto de grande escala, onde várias partes precisaram ser modificadas para solucionar o problema.
        </p>
    </div>
</div>
